
img.just  {
  position: relative;
  margin-top: 50px;
}

.text {
  display: inline-block;
  font-size: 20px;
  line-height: 50px;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:black;
  letter-spacing : 4px;
  text-shadow: 
    0 0 0.2em rgb(255, 245, 245),
    0 0 0.2em   rgb(255, 245, 245),
    0 0 0.2em   rgb(255, 245, 245),
    0 0 0.2em  rgb(255, 245, 245);
  filter: saturate(80%);
      
      
}

canvas {
  /* background-image: url("Tshirt.png");  */
  background-color: white;
  background-position: right 50% bottom 97%;
  /* background-size: 10% 103%; */
  border: solid 5px rgba(42, 44, 165, 0.479);
  text-align:center;
}

body {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
  
input {
  margin: 0;
	padding: 5px;
  border: 0;
  width: 50px;
  height: 50px;
}

.bg1{
  background : linear-gradient(to right , #f7797d80, #FBD78680, #C6FFDD80), url("home2.jpg");
  background-size: 100%;
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  background-attachment: fixed;
	background-repeat: no-repeat;
  background-position: center center;
  justify-content: center;
  box-shadow:
    inset 0 0 10px #fff,
    inset 0 0 10px #fff,
    inset 0 0 10px #fff,
    inset 0 0 10px #fff;
}

.btn,
a.btn,
button.btn {
  font-size: 12px;
  font-weight: 60;
  line-height: 0.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}


a.btn-border-palette {
  margin-bottom: 12px;
  padding: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #000;
  background-image: -webkit-repeating-linear-gradient(
    135deg,
    #000,
    #000 1px,
    transparent 2px,
    transparent 5px
  );
  background-image: repeating-linear-gradient(
    -45deg,
    #000,
    #000 1px,
    transparent 2px,
    transparent 5px
  );
  background-size: 7px 7px;
  background-color: rgba(42, 44, 165, 0.637);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

a.btn-border-palette span {
  position: relative;
  display: block;
  padding: 9px 9px;
  color: #000;
  border: 1px solid #000;
  border-radius: 0.5rem;
  background: #fff;
  
}

a.btn-border-palette:hover {
  /* padding: 2px; */
  background-color: rgba(196, 37, 103, 0.637);
}

a.btn-border {
  margin-bottom: 12px;
  padding: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 0;
}

a.btn-border span {
  position: relative;
  display: block;
  padding: 9px 9px;
  color: #000;
  border: 1px solid #000;
  border-radius: 0.5rem;
  background: #fff;
}

a.btn-border:before {
  position: absolute;
  bottom: -8px;
  left: 0;

  display: block;

  width: 94%;
  height: 14px;

  content: "";
  -webkit-transition: all 0.3s;
  transition: all 0.3s;

  border: 2px solid #000;
  border-top: 1px solid #000;
  border-radius: 0 0 0.5rem 0.5rem;
  background-image: -webkit-repeating-linear-gradient(
    135deg,
    #000,
    #000 1px,
    transparent 2px,
    transparent 5px
  );
  background-image: repeating-linear-gradient(
    -45deg,
    #000,
    #000 1px,
    transparent 2px,
    transparent 5px
  );
  background-color: rgba(42, 44, 165, 0.637);
  background-size: 7px 7px;

  -webkit-backface-visibility: hidden;

  backface-visibility: hidden;
}

a.btn-border:hover {
  -webkit-transform: translate(0, 3px);
  transform: translate(0, 3px);
}

a.btn-border:hover:before {
  bottom: -5px;
  background-color: rgba(196, 37, 103, 0.637)
}

a.btn-border:active {
  -webkit-transform: translate(0, 7px);
  transform: translate(0, 7px);
}

a.btn-border:active:before {
  bottom: -1px;
}


img.arrow {
  border-radius: 30%;
  box-shadow   : 3px 3px 3px #668ad8;
  cursor       : pointer;              /* カーソル形状 */
  transition   : .3s;
  background: white;
  width: 21px;
  height: 21px;
  padding: 4px 4px 4px 4px;
  margin: 0px 5px;
}

.arrow:hover {
  box-shadow   : none;                 /* 影の設定 */
}

.icon-button {
  display      : inline-block;
  border: none;
  border-radius: 50%;
  color: #668ad8;
  box-shadow   : 3px 3px 3px #668ad8;
  cursor       : pointer;              /* カーソル形状 */
  transition   : .3s;
  background-color: white;
  padding: 0px;
  margin: 1px;
  width: 20px;
  height: 20px;
}

.small {
  width: 17px;
  height: 17px;
}

.medium {
  width: 19px;
  height: 19px;
}

.large {
  width: 25px;
  height: 25px;
}

.icon-button:hover {
  box-shadow   : 5px 5px 5px  rgba(196, 37, 103, 0.637);
  /* background-color: rgba(196, 37, 103, 0.637); */
  /* box-shadow   : none;                */
}

#colorpicker:before {
  position: absolute;
  top: -7px;
  left: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

#colorpicker:after {
  position: absolute;
  top: -6px;
  left: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}

#colorpicker {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;

  min-width: 160px;
  max-width: 209px;

  padding: 4px 0px 0px 4px;
  margin: 1px 0 0;
  list-style: none;
  background-color: #ffffff;

  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);

  *border-right-width: 2px;
  *border-bottom-width: 2px;

  -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
          border-radius: 5px;

  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

  -webkit-background-clip: padding-box;
      -moz-background-clip: padding;
          background-clip: padding-box;
}

#colorpicker ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#colorpicker ul li {
  float: left;
  margin: 0 4px 4px 0;
}

#colorpicker ul li a {
  display: block;

  width: 15px;
  height: 15px;

  text-indent: -100000px;
}

#colorpicker ul li a:hover {
  width: 13px;
  height: 13px;

  border: 1px solid black;
}

 .container {
   display: table-cell;
 }
 .container>img {
   width: 200px;
   margin: 15px;
 }

.hidden_box {
    margin: 3px;/*前後の余白*/
    padding-right:8%;
}

/*ボタン装飾*/
.hidden_box label {
    padding: 5px;
    font-weight: 2px;
    background-color: white;
    cursor :pointer;
    float: right;
    transition   : .3s;
    cursor       : pointer;              /* カーソル形状 */
    border-radius:  0.5rem;
    border: 1px solid #000;
    margin-bottom: 100px;
}

/*ボタンホバー時*/
.hidden_box label:hover {
  -webkit-transform: translate(0, 3px);
  transform: translate(0, 3px);
  color: white;
  background:rgba(196, 37, 103, 0.637);
}

/*チェックは見えなくする*/
.hidden_box input {
    display: none;
}

/*中身を非表示にしておく*/
.hidden_box .hidden_show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

/*クリックで中身表示*/
.hidden_box input:checked ~ .hidden_show {
    padding: 10px 0;
    height: auto;
    opacity: 1;
}

.result-url{
  border: none;
  /* color: #fff; */
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.result-url:hover {
  transform: scale(0.95, 0.95);
}
